$color-grey:#CFD8DC;
$color-white:#FAFAFA;
$color-red:#DD2C00;
$color-yellow:#FFD740;
$color-grey-blue:#90A4AE;
$color-blue:#01579B;
$color-dark:#424242;
$color-grey-light:#f8f9fa;
$color-silver:#C0C0C0;
$border-style-widther: 3px solid $color-silver;
